.code-detail {
    padding: 16px;
}

.code-detail h2 {
    color: #be2bbb;
}

.code-detail p {
    margin: 8px 0;
}

.code-detail ul {
    list-style-type: none;
    padding: 0;
}

.code-detail ul li {
    margin: 8px 0;
}
