.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #be2bbb;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-left .home-button {
    width: 40px;
    height: 40px;
}

.header-middle {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.header-right {
    position: relative;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
}

.profile-button {
    background-color: #be2bbb;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

.profile-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.profile-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profile-dropdown-content a:hover {
    background-color: #be2bbb;
    color: white;
}

.profile-dropdown:hover .profile-dropdown-content {
    display: block;
}

.profile-dropdown:hover .profile-button {
    background-color: #a02aa1;
}
