.search-bar {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 300px;
    box-sizing: border-box;
}

.search-button {
    padding: 10px 15px;
    border: none;
    background-color: #be2bbb;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-button:hover {
    background-color: #a02aa1;
}
